
*.rar
*.mp4
Benori/JD for Python Skills.pdf
mapup_assignment/Mapup_scraping/Entry_Exit-1632666986045.json
mapup_assignment/Mapup_scraping/Entry_Exit.json
Skidos_Associate_Data_Analyst/__MACOSX/Associate Data Analyst/._Associate Data Analyst - Assignment.docx
Skidos_Associate_Data_Analyst/__MACOSX/Associate Data Analyst/._Associate Data Analyst - Assignment.pdf
Skidos_Associate_Data_Analyst/__MACOSX/Associate Data Analyst/._stats_sample_data.csv
Skidos_Associate_Data_Analyst/Associate Data Analyst/Associate Data Analyst - Assignment.docx
Skidos_Associate_Data_Analyst/Associate Data Analyst/Associate Data Analyst - Assignment.pdf
Benori/pdf_to_csc.json
mapup_assignment/Mapup_scraping/python_task.xlsx
mapup_assignment/Mapup_scraping/raw_data.json
mapup_assignment/scraping/raw_data.json
mapup_assignment/scraping/raw_data.json
.idea/workspace.xml
